.kb-row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.kb-row--start {
  justify-content: flex-start;
}

.kb-row--center {
  justify-content: center;
}

.kb-row--end {
  justify-content: flex-end;
}

.kb-row--space-between {
  justify-content: space-between;
}

.kb-row--space-around {
  justify-content: space-around;
}

.kb-row--align-top {
  align-items: flex-start;
}

.kb-row--align-middle {
  align-items: center;
}

.kb-row--align-bottom {
  align-items: flex-end;
}

.kb-col {
  box-sizing: border-box;
  flex: 0 0 auto;
}

.kb-col-0 {
  display: none;
}

.kb-col-1 {
  flex-basis: 4.1667%;
  max-width: 4.1667%;
}

.kb-col-2 {
  flex-basis: 8.3333%;
  max-width: 8.3333%;
}

.kb-col-3 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

.kb-col-4 {
  flex-basis: 16.6667%;
  max-width: 16.6667%;
}

.kb-col-5 {
  flex-basis: 20.8333%;
  max-width: 20.8333%;
}

.kb-col-6 {
  flex-basis: 25%;
  max-width: 25%;
}

.kb-col-7 {
  flex-basis: 29.1667%;
  max-width: 29.1667%;
}

.kb-col-8 {
  flex-basis: 33.3333%;
  max-width: 33.3333%;
}

.kb-col-9 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}

.kb-col-10 {
  flex-basis: 41.6667%;
  max-width: 41.6667%;
}

.kb-col-11 {
  flex-basis: 45.8333%;
  max-width: 45.8333%;
}

.kb-col-12 {
  flex-basis: 50%;
  max-width: 50%;
}

.kb-col-13 {
  flex-basis: 54.1667%;
  max-width: 54.1667%;
}

.kb-col-14 {
  flex-basis: 58.3333%;
  max-width: 58.3333%;
}

.kb-col-15 {
  flex-basis: 62.5%;
  max-width: 62.5%;
}

.kb-col-16 {
  flex-basis: 66.6667%;
  max-width: 66.6667%;
}

.kb-col-17 {
  flex-basis: 70.8333%;
  max-width: 70.8333%;
}

.kb-col-18 {
  flex-basis: 75%;
  max-width: 75%;
}

.kb-col-19 {
  flex-basis: 79.1667%;
  max-width: 79.1667%;
}

.kb-col-20 {
  flex-basis: 83.3333%;
  max-width: 83.3333%;
}

.kb-col-21 {
  flex-basis: 87.5%;
  max-width: 87.5%;
}

.kb-col-22 {
  flex-basis: 91.6667%;
  max-width: 91.6667%;
}

.kb-col-23 {
  flex-basis: 95.8333%;
  max-width: 95.8333%;
}

.kb-col-24 {
  flex-basis: 100%;
  max-width: 100%;
}

.kb-col-offset-1 {
  margin-left: 4.1667%;
}

.kb-col-offset-2 {
  margin-left: 8.3333%;
}

.kb-col-offset-3 {
  margin-left: 12.5%;
}

.kb-col-offset-4 {
  margin-left: 16.6667%;
}

.kb-col-offset-6 {
  margin-left: 25%;
}

.kb-col-offset-8 {
  margin-left: 33.3333%;
}

.kb-col-offset-12 {
  margin-left: 50%;
}
